/* selector คือ จุดหรือตำแหน่งที่จะใส่ css */
h1 {
    text-align: center;
    color: #b40000;
}

h3 {
    text-align: center;
    color: #130163;
}

#aaa {
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}

image {
    width: 100px;
    padding: 100px;
}

#bbb {
    text-align: center;
    color: #000000;
    margin-left: 150px;
    margin-right: 150px;
}

#11 {
    width: 100px;
    border: 2px solid #0e0202;
    border-radius: 10px;
    padding: 10px;
}

#22 {
    width: 100px;
    border: 2px solid #0e0202;
    border-radius: 10px;
    padding: 10px;
}

#33 {
    width: 100px;
    border: 2px solid #0e0202;
    border-radius: 10px;
    padding: 10px;
}

#zzz {
    text-align: center;
    margin-bottom: 150px;
}

#ff {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}